@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f7f7;
  --foreground: #080e10;
  --background-rgb: 8, 14, 16; /* Used for the video mask */
  --foreground-rgb: 247, 247, 247; /* Used for the video mask */
  --mobile: 640px;
  --tablet: 768px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080e10;
    --foreground: #f7f7f7;
    --background-rgb: 8, 14, 16; /* Used for the video mask */
    --foreground-rgb: 247, 247, 247; /* Used for the video mask */
  }
}

* {
  /* outline: 1px solid red; */
}

body {
  color: black;
  background: b2b2b2;
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
  /* overflow: hidden; */
}

.dark body {
  color: white;
  background-color: var(--background);
}

a {
  cursor: none;
}

.burgerMenu {
  display: flex;
  transition: all 0.2s ease-in;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 3;
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark .line {
  stroke: white;
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 3;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 3;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}

@keyframes breathing {
  0%,
  100% {
    mask-size: 100%;
  }
  50% {
    mask-size: 103%;
  }
}

.bg-video {
  mask-repeat: no-repeat;
  opacity: 0.8;
  animation: breathing 17s infinite ease-in-out;
  @media (max-width: 640px) {
    mask-position: center;
    animation: none;
    mask-repeat: no-repeat;
    mask-size: 550px;
    opacity: 0.8;
  }
  @media (min-width: 641) {
    mask-position: center;
  }
  @media (min-width: 1000) {
    mask-position: center bottom;
  }
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
  .colorEffect {
    background-image: linear-gradient(
      to right,
      rgba(250, 78, 10),
      rgba(247, 12, 204),
      rgba(0, 106, 255),
      rgba(48, 248, 255),
      rgba(250, 78, 10)
    );

    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
    background-size: 200%;
    animation: gradientAnimate 7s ease infinite;
    transition: all 0.4s ease-in;
  }

  @keyframes gradientAnimate {
    0% {
      background-position: 200% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .colorEffect:hover {
    color: var(--foreground);
  }
}

@layer utilities {
  .nav-hover-btn {
    @apply relative text-xs uppercase transition-colors duration-500 ease-in-out md:text-[0.8rem] xl:text-sm 2xl:text-base;
  }

  .nav-sidebar {
    @apply absolute left-0 right-0 z-20 mx-auto block overflow-hidden bg-white dark:bg-black md:hidden;
  }

  .nav-hover-btn::after {
    content: "";
    position: absolute;
    bottom: -0.75px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: black;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  .dark .nav-hover-btn::after {
    background-color: white;
  }

  .nav-hover-btn:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
}
