@tailwind base;
@tailwind components;
@tailwind utilities;

// @view-transition {
//   navigation: auto;
//   transition:
//     opacity 0.5s ease,
//     transform 0.5s ease;
// }

:root {
  --background: #f7f7f7;
  --foreground: #080e10;
  --background-rgb: 8, 14, 16; /* Used for the video mask */
  --foreground-rgb: 247, 247, 247; /* Used for the video mask */
  --mobile: 640px;
  --tablet: 768px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080e10;
    --foreground: #f7f7f7;
    --background-rgb: 8, 14, 16; /* Used for the video mask */
    --foreground-rgb: 247, 247, 247; /* Used for the video mask */
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  background-color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
  // overflow-x: hidden;
}

img {
  pointer-events: none;
}

button {
  cursor: none;
}

body.no-scroll {
  overflow: hidden;
}

.dark body {
  color: white;
  background-color: var(--background);
}

a {
  cursor: none;
}

.burgerMenu {
  display: flex;
  transition: all 0.2s ease-in;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 3;
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark .line {
  stroke: white;
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 3;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 3;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}

// @keyframes breathing {
//   0%,
//   100% {
//     mask-size: 100%;
//   }
//   50% {
//     mask-size: 103%;
//   }
// }

// .bg-video {
//   mask-repeat: no-repeat;
//   animation: breathing 17s infinite ease-in-out;
//   @media (max-width: 640px) {
//     mask-position: center left;
//     animation: none;
//     mask-repeat: no-repeat;
//     mask-size: 500px;
//   }
//   @media (max-width: 1024px) {
//     animation: none;
//   }
//   @media (min-width: 640px) {
//     mask-position: center;
//   }
// }

.bg-grain {
  filter: contrast(100%) brightness(95%);
  background: linear-gradient(
      20deg,
      rgba(234, 234, 234, 0.7),
      rgba(251, 251, 251, 0.5)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='8.02' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.dark .bg-grain {
  filter: contrast(100%) brightness(100%);
  background: linear-gradient(20deg, rgba(0, 0, 0, 0.9), rgba(28, 28, 28, 0.9)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='8.02' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
  .colorEffect {
    background-image: linear-gradient(
      to right,
      #fd4f55,
      rgba(247, 12, 204),
      #0890ff,
      #fd4f55
    );

    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
    background-size: 200%;
    animation: gradientAnimate 8s ease infinite;
    transition: all 0.4s ease-in;
  }

  @keyframes gradientAnimate {
    0% {
      background-position: 200% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@layer utilities {
  .nav-hover-btn {
    @apply relative text-xs font-medium uppercase tracking-wide transition-colors duration-500 ease-in-out md:text-[0.8rem] xl:text-sm 2xl:text-base;
  }

  .nav-hover-btn:hover {
    color: #fd4f55;
  }

  .nav-sidebar {
    @apply fixed left-0 right-0 top-0 z-20 mx-auto block bg-white opacity-0 dark:bg-black;
  }

  .nav-hover-btn::after {
    content: "";
    position: absolute;
    bottom: -0.75px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: black;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  .dark .nav-hover-btn::after {
    background-color: white;
  }

  .nav-hover-btn:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }

  .nav-text {
    @apply font-urbanist text-[3.25rem] font-semibold !leading-[1.2] tracking-widest text-black dark:text-white sm:text-6xl md:text-7xl xl:text-8xl;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0px; /* Initially no gap */
    transition:
      transform 0.4s ease-in-out,
      gap 0.4s ease-in-out;
    text-decoration-thickness: 6px;

    @media screen and (max-width: 768px) {
      text-decoration-thickness: 4px;
    }

    color: black; /* Default text color */
  }

  .nav-text::before {
    content: "";
    position: absolute;
    left: -10px; /* Start position (hidden inside text) */
    width: 0px;
    height: 0px;
    background-color: black;
    border-radius: 50%;
    transform: scale(0);
    transition:
      transform 0.2s ease-in-out,
      width 0.2s ease-in-out,
      height 0.2s ease-in-out,
      left 0.2s ease-in-out;
  }

  .nav-text:hover:not(.nav-text-isActive) {
    color: transparent;
    transform: translateX(20px); /* Moves text to the right smoothly */
    background-image: linear-gradient(
      to right,
      #fd4f55,
      rgba(247, 12, 204),
      #0890ff,
      #fd4f55
    );

    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
    background-size: 200%;
    animation: gradientAnimate 8s ease infinite;
    transition: all 0.4s ease-in;

    @keyframes gradientAnimate {
      0% {
        background-position: 200% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }

  .nav-text:hover:not(.nav-text-isActive)::before {
    width: 10px;
    height: 10px;
    transform: scale(1);
    left: -20px; /* Moves circle out to the left */
  }

  .nav-text-isActive:hover {
    transform: none !important; /* Prevent text movement */
    background-image: none !important; /* Remove background clip */
    animation: none !important; /* Disable animation */
  }

  .nav-text-isActive::before {
    width: 0px; /* Ensure circle doesn't appear when active */
    height: 0px; /* Ensure circle doesn't appear when active */
    transform: scale(0); /* Ensure circle is hidden */
  }
}
// :root {
//   --bg-color: hsl(240deg 10% 12%);
//   --bg-grain: url("https://assets.codepen.io/64/svgNoise2.svg");
//   --bg-grain: url("data:image/svg+xml,%3Csvg viewBox='0 0 600 600' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");

//   --shadow-size: max(140px, 40vw);
//   --shadow-size-fallback: 40vw;
//   --shadow-blur: 60;

//   --color-1: #6328da;
//   --color-2: #ff1bf1;
//   --color-3: #008cea;

//   --bg-1-x: 0;
//   --bg-1-y: 0;
//   --bg-2-x: 0;
//   --bg-2-y: 0;
//   --bg-3-x: 0;
//   --bg-3-y: 0;
// }

// @supports (color: color(display-p3 1 1 1)) {
//   :root {
//     --color-1: color(display-p3 0.36 0.17 0.82);
//     --color-2: color(display-p3 0.95 0.04 0.95);
//     --color-3: color(display-p3 0.01 0.53 0.99);
//   }
// }

// @media (min-width: 960px) {
//   :root {
//     --shadow-size: max(72px, 25vw);
//     --shadow-size-fallback: 25vw;
//     --shadow-blur: 80;
//   }
// }

body {
  --sb-track-color: #d1d1d1; /* Light mode track color */
  --sb-thumb-color: #3b3b3b; /* Light mode thumb color */
  --sb-size: 11px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* Dark mode styles */
.dark body {
  --sb-track-color: #191919; /* Dark mode track color */
  --sb-thumb-color: #757575; /* Dark mode thumb color */
}

.dark body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

.dark body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  .dark body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.scrollIcon {
  width: 40px;
  height: 70px;
  border: 3px solid #333333;
  border-radius: 60px;
  position: relative;
  scale: 0.8;
  &::before {
    content: "";
    width: 10px;
    height: 11px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

.dark .scrollIcon {
  border: 3px solid white;
  &::before {
    background-color: white;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 40px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 40px;
  }
}

.photoSvg {
  width: 80%;
  position: fixed;
  top: 25%;
  transform: translateX(-50%);
  left: 50%;

  @media screen and (max-width: 768px) {
    width: 90%;
    top: 25%;
  }
}
.posterSvg {
  width: 50%;
  position: fixed;
  top: 5%;
  transform: translateX(-50%);
  left: 50%;

  @media screen and (max-width: 768px) {
    width: 90%;
    top: 10%;
  }
}

.photoSvg path,
.posterSvg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  opacity: 0;
  stroke-width: 0.8;
  stroke: #000;
  fill: none;
  transition: stroke-dashoffset 0.3s ease-out;
  @media screen and (max-width: 768px) {
    stroke-width: 1.5;
  }
}

.dark .photoSvg path,
.dark .posterSvg path {
  stroke: white;
}

.snakeSvg {
  stroke: #000;
  stroke-width: 5;
}

.dark .snakeSvg {
  stroke: white;
}

.textShadow {
  text-shadow:
    0px 2px 3px rgba(12, 12, 13, 0.09),
    0px 2px 3px rgba(12, 12, 13, 0.04);
}

.marquee-backward {
  @media screen and (max-width: 640px) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

    span {
      white-space: nowrap; /* Prevent wrapping */
      will-change: transform; /* Optimize animation */
      animation: marquee-move-text 7s linear infinite;
    }
  }
  @keyframes marquee-move-text {
    from {
      transform: translateX(0); /* Start at default position */
    }
    to {
      transform: translateX(-100%); /* Move by 100% of the track's width */
    }
  }
}
.marquee-forward {
  @media screen and (max-width: 640px) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

    span {
      // font-weight: 500 !important;
      white-space: nowrap; /* Prevent wrapping */
      will-change: transform, background-position; /* Optimize animation */
      animation:
        marquee-move-text2 7s linear infinite,
        gradientAnimate 7s ease infinite;
    }
  }
  @keyframes marquee-move-text2 {
    from {
      transform: translateX(0%); /* Start at default position */
    }
    to {
      transform: translateX(100%);
    }
  }
}
